ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a:hover {
    background-color: #111;
}

li a {
    display: block;
    color: ghostwhite;
    text-align: center;
    padding: 14px 17px;
    text-decoration: none;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

section {
    padding: 20px;
}

h3, h4 {
    color: #4CAF50;
}

p {
    line-height: 1.5;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#title {
    font-size: 24px;
    margin-bottom: 10px;
}
body.dark {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
}

header.dark {
    background-color: #111;
    color: white;
    padding: 10px;
    text-align: center;
}

nav.dark {
    background-color: #111;
}

nav.dark ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav.dark li {
    float: left;
}

nav.dark a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 17px;
    text-decoration: none;
}

nav.dark a:hover {
    background-color: #444;
}

section.dark {
    padding: 20px;
}

h3.dark, h4.dark {
    color: #4CAF50;
}

p.dark {
    line-height: 1.5;
}
.active{
	background-color: darkcyan;
}
